* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.menu {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu i {
    color: #b5b5b5;
    font-size: 22px;
}

.menu .logo {
    background-color: #BD081C;
    border-radius: 50%;
    display: block;
    height: 42px;
    text-align: center;
    padding-top: 9px;
    width: 42px;
}
.menu .logo i {
    color: white;
}
.menu .search {
    background-color: #efefef;
    border-radius: 5px;
    margin: 0 22px;
    width: 70%;
    padding: 10px;
}
.menu .search i {
    color: black;
}
.menu .search input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: 0;
    width: 82%;
}
.menu .button {
    padding: 12px;
}
.tags {
    text-align: center;
}
.tags li {
    background-color: red;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 5px;
    padding: 20px 18px;
}












/*


header {
    background-color: #eee;
    overflow: auto;
    padding: 10px 0;
}
.logo {
    border-radius: 50%;
    color: white;
    font-size: 26px;
    float: left;
    background-color: #BD081C;
    width: 42px;
    height: 42px;
    text-align: center;
    padding-top: 6px;
    margin-right: 15px;
}
.search {
    background-color: #EFEFEF;
    height: 38px;
    width: 70%;
    border-radius: 5px;
    float: left;
}
.buttons {
    color: #b5b5b5;
    font-size: 23px;
    float: right;
}
.buttons .button {
    float: left;
    padding: 8px 20px;
}

*/