* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
    text-align: center;
}

.menu li {
    display: inline-block;
}

.menu i {
    color: #b5b5b5;
    font-size: 22px;
}

.menu .logo {
    background-color: #BD081C;
    border-radius: 50%;
    display: block;
    height: 42px;
    text-align: center;
    padding-top: 9px;
    width: 42px;
}
.menu .logo i {
    color: white;
}
.menu .search {
    background-color: #efefef;
    border-radius: 5px;
    margin: 0 22px;
    width: 70%;
    padding: 10px;
}
.menu .search i {
    color: black;
}
.menu .search input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: 0;
    width: 82%;
}
.menu .button {
    padding: 12px;
}
.tags {
    text-align: center;
}
.tags li {
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 5px;
    padding: 20px 18px;
}
.color-1 {
    background-color: #725E4F;
}
.color-2 {
    background-color: #AB8B6F;
}
.color-3 {
    background-color: #8F7B66;
}
.color-4 {
    background-color: #8F6F53;
}
.color-5 {
    background-color: #96924B;
}
.color-6 {
    background-color: #82745C;
}
.color-7 {
    background-color: #8F8584;
}
.color-8 {
    background-color: #9C775C;
}
.color-9 {
    background-color: #B17E77;
}

main { 
    /* centrar margin auto(solo si es diaplay block y un ancho maximo) */
    /* le doremos un margin-top para que separe del header ya que header tiene una position fixed se libera
    y todos los elementos que estan debajo ocuparan ese espacio*/
    margin: 150px auto auto;
    max-width: 1400px;
    overflow: auto;
    padding: 0 10px;
}

main .col {
    float: left;
    width: 25%;
}

main .box {
    margin: 20px 10px;
}

.box img {
    border-radius: 10px;
    display: block;
    width: 100%;
}
.box .details {
    background-color: white;
    height: 100px;
    margin-top: 15px; 
}
.col .box a {
    text-decoration: none;
    color: #000;
}










/*


header {
    background-color: #eee;
    overflow: auto;
    padding: 10px 0;
}
.logo {
    border-radius: 50%;
    color: white;
    font-size: 26px;
    float: left;
    background-color: #BD081C;
    width: 42px;
    height: 42px;
    text-align: center;
    padding-top: 6px;
    margin-right: 15px;
}
.search {
    background-color: #EFEFEF;
    height: 38px;
    width: 70%;
    border-radius: 5px;
    float: left;
}
.buttons {
    color: #b5b5b5;
    font-size: 23px;
    float: right;
}
.buttons .button {
    float: left;
    padding: 8px 20px;
}

*/